@model MVC_WebApp.Models.Employeeasp

<div>
    The application allows employeesfor filing thir information
    requests,manage employee information.<br />

    On the other side, it comes quite handy at managing employee data,
    measuring performance.
    Management System is a great way to wholly manage employee tracking,
    management and development program in one place and get custom reports about every 
    activity built on collaborative information fed and updated by the employees.
</div>

<div>
  @* <a asp-action="Edit" asp-route-id="@Model?.Eid">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
